@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
}

body {
    background:
        radial-gradient(
            circle at 25% 15%,
            rgba(255, 255, 255, 0.035),
            transparent 40%
        ),
        radial-gradient(
            circle at 75% 25%,
            rgba(180, 180, 180, 0.015),
            transparent 45%
        ),
        radial-gradient(circle at center, #1d1d22 0%, #0d0d11 65%, #040404 100%);
}

.outline-text {
    -webkit-text-stroke: 1px white;
}
